<div [ngStyle]="{ 'outline-color': discountColor }"  class="card">
    <a href="#">
        <span [ngStyle]="{ 'background-color': discountColor }"  class="circle"> {{ discount }}% off </span>
        <div class="content">
            <div class="text-image top-padd horizon-padd">
                <div class="text">
                    <span class="title">{{ itemData.name }}</span> 
                    {{ itemData.description | myslice:36 }}
                </div>
                <div class="img center-img">
                    <img src="{{ itemData.imgUrl }}">
                </div>
            </div>
            <div class="top-padd horizon-padd">
                <span [ngStyle]="{ 'color': discountColor }" class="price">{{ itemData.price | euro }}</span>
                <span class="strikethrough">$69.99</span>
                <span class="amazon">{{ itemData.shop }}</span>
            </div>

            <div class=" horizon-padd">
                <hr class="dotted-line">
            </div>
            <div class="bottom-padd">
                <span class="center">New</span>
            </div>
        </div>
    </a>
</div>
