


main {
    margin: 0 auto;
    padding: 0 2%;
    display: grid;
    grid-template-columns: 430px 430px 430px;
    grid-template-rows: 252px;
    grid-gap: 2.5rem;
    grid-row-gap: 0;
}

app-carousel {
    grid-row: 1/3;
    grid-column: 1/3;
}

app-title-card  {
    grid-row: 1/3;
    grid-column: 3/3;
}

@media (min-width: 950px) and (max-width: 1420px){

    main {
        grid-template-columns: 430px 430px;
    }

    app-title-card  {
        grid-row: 3/5;
        grid-column: 1/1;
    }
}

@media (max-width: 950px) {

    main,
    app-title-card,
    app-carousel,
    app-homecard {
        display: block;
    }

    main {
        margin: 0 5%;
    }
    
    app-homecard {
        padding: 10px 5%;
    }
}