html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rainbow {
    display: flexbox;
    width: 700px;
    height: 500px;
    border: 2px solid darkred
}

#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#sortable li {
    height: 50px;
    border: none;
}

.green {
    background: green;
}
.blue {
    background: blue;
}
.orange {
    background: orange;
}
.violet {
    background: violet;
}
.yellow {
    background: yellow;
}
.red {
    background: red;
}
.indigo {
    background: indigo;
}