<div class="container-fluid">
    <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-10 col-lg-12">
            <br>
            <h3 class="margin">Address</h3>
            <div class="my-container margin">
                <address>
                        Written by <a href="mailto:stanislav055@gmail.com">Stanislav Litvinyk</a>.<br> 
                        Visit us at: 
                        <a href="index.html">index.html</a><br>
                        Geroev Oborony 7, Kiev<br>
                        Ukraine
                </address>
            </div>
            <div>
                <agm-map [latitude]="latitude" [longitude]="longitude" [mapTypeId]="'hybrid'">
                    <agm-marker [latitude]="latitude" [longitude]="longitude">
                        <agm-info-window>
                            <p>Marker First</p>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </div>
        </div>
        <div class="col-xl-1"></div>
    </div>
    <br><br><br><br><br><br>
</div>