@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap);

:root {
    --clr-green: rgb(19, 177, 85);
    --clr-light: #fdfdfd;
    --clr-darkgrey: rgb(102, 102, 102);
    --clr-grey: rgb(173, 173, 173);
    --clr-lightgrey: rgb(211, 211, 211);
}

*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    --spacer: .9rem;
    --xspacer: 2rem;

    grid-area: active;
    background: var(--clr-light);
    color: var(--clr-grey);
    border: 1px double var(--clr-lightgrey);
    border-radius: 5px;
}

.todo-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: var(--spacer);
    background: rgb(166,166,166);
    background: linear-gradient(0deg, var(--clr-lightgrey) -60%, var(--clr-light) 100%);
}

.list-title {
    margin: 0 var(--spacer) 0 0;
    color: var(--clr-darkgrey);
}

.todo-body {
    position: relative;
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.task label {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.task {
    padding: var(--spacer) var(--xspacer) var(--spacer) var(--xspacer);
    position: relative;
}

.task::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    opacity: .1;
    background: currentColor;
}

.last.task::after {
    display: none;
}

.custom-checkbox {
    transform: rotate(45deg);

    --size: 1.6em;
    width: var(--size);
    height: var(--size);
    margin-right: calc(var(--size) / 2) ;
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
}

/* Checkmark */

.custom-checkbox::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 12px;
    background-color: var(--clr-light);
    left: 11px;
    top: 4px;
}
.custom-checkbox::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 4px;
    background-color: var(--clr-light);
    left: 6px;
    top: 12px;
}

/* /Checkmark */

[type="checkbox"]:checked + label {
    color: var(--clr-green);
}

[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    left: 2.5em;
    height: 2px;
    background: currentColor;
}

/* Checkmark change color */

[type="checkbox"]:checked + label .custom-checkbox::before,
[type="checkbox"]:checked + label .custom-checkbox::after {
    background-color: var(--clr-green);
}