
  body {
    margin: 0;
    font-size: 18px;
    font-family: Verdana, "Trebuchet MS", Geneva, sans-serif;
    font-weight: 200;

  }
 
  header,
  footer,
  nav,
  aside {
    display: flex;

  }
 
  header {
    height: 50px;
    background-color: #336697;
    color: white;
    justify-content: center;
    align-items: center;
  }

  footer {
    height: 50px;
    background-color: #669900;    
    color: white;
    justify-content: center;
    align-items: center;
  }
 
  .container {
    overflow: hidden;
    /* margin: .5rem 0; */
  }
 
  .container nav,
  .container aside {
    width: 200px;
    height: calc(100vh - 100px);
  }
 
  .container main {
    float: left;
    width: calc(100% - 400px);
    height: calc(100vh - 100px);
    background-color: white;
    /* margin: 0 .5rem; */
  }

  main p {
      padding: 0.6rem;
  }
 
  .container nav {
    float: left;
    background-color: orange;
  }
 
  .container aside {
    float: right;
    background-color: #973968;
  }

  h5, h4 {
      padding: 15px;
      margin: 0;
  }


  @media only screen and (max-width: 790px) {
    .container nav,
    .container aside {
      width: 100%;
      height: 50px;
    }

    .container main {
        float: left;
        width: 100%;
        height: calc(100vh - 200px);
        background-color: white;
        /* margin: 0 .5rem; */
      }
  }